.DS_Store
*.pidb
*.orig.meta
*.ilk
*.ilk.meta
*.sln
*.userprefs
*.csproj
*.unityproj

/kingdom.tss

/CSharp??Support/compilation.log
/CSharp??Support/compilation log.txt
/Assets/WrappedLogic/Plugins/x86_64/WrappedLogic.ilk*
/Assets/WrappedLogic/Plugins/x86_64/WrappedLogic.pdb*
/Assets/UnityBridgeProxy/Plugins/x86_64/UnityBridgeProxy.pdb*
/Assets/UnityBridgeProxy/Plugins/x86_64/UnityBridgeProxy.ilk*
/Assets/UnityBridgeProxy/Plugins/x86/UnityBridgeProxy.pdb*
/Assets/WrappedLogic/Plugins/x86/WrappedLogic.pdb*
/Assets/WrappedLogic/Plugins/x86/WrappedLogic.ilk*

/ThirdParty/BUILD/protobuf/build-32/*
/ThirdParty/BUILD/protobuf/build-64/*
/ThirdParty/BUILD/protobuf/build-CS/*
/ThirdParty/BUILD/protobuf/build-XCode/*
/ThirdParty/BUILD/protobuf/build/*

UnityVS.VersionSpecific.dll
UnityVS.VersionSpecific.dll.meta

/Assets/StreamingAssets/build_info.txt
/Assets/StreamingAssets/build_info.txt.meta
/Assets/StreamingAssets/crashlytics-build.properties
/Assets/StreamingAssets/crashlytics-build.properties.meta

/ios

Thumbs.db
thumbs.db
/.vs/*
/Build/*
/Library/*
/Temp/*
/Obj/*
/obj/*
